body {
    background-image: linear-gradient(to bottom right, #1e1e1e, #2a2a2a, #333333, black);
    color: #e0e0e0;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Fundo {
    background-color: #f5f5f5;
    margin-left: 15%;
    margin-right: 15%;
    color: #333333;
    border-radius: 15px;
}

.Titulo {
    background: #ff5733;
    color: white;
    width: 100%;
    height: 80%;
    text-align: center;
    padding: 10px 0;
}

.Sobre, .Historia, .Brasil, .Impacto, .Responsavel, .Links, .container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Sobre p, .Historia p, .Brasil p, .Impacto p, .Responsavel p, .Links p, .container p {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px; /* Aumentar o tamanho da fonte */
    font-family: "Bell MT";
    background-color: rgba(255, 87, 51, 0.1); /* Fundo leve (laranja claro) */
    padding: 15px; /* Adicionar preenchimento */
    border-radius: 5px; /* Arredondar os cantos */
    color: #333; /* Cor do texto mais escura para contraste */
    margin-bottom: 15px; /* Aumentar espaço entre parágrafos */
}


.Responsavel p, .Historia p {
    background-color: #f5f5f5;
    color: #333333;
    padding: 10px;
    border-radius: 10px;
}

.Sobre img, .Historia img, .Brasil img, .Responsavel img {
    border: 2px solid #ff5733;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.Brasil a, .Links a {
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #ff5733;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.Brasil a {
    margin-left: 5%;
    margin-right: 5%;
}

.container a {
    color: #ff5733;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    background-color: #333333;
    color: white;
}

.Sobre h1, .Historia h1, .container h1, .Brasil h1, .Impacto h1, .Responsavel h1, .Links h1, .Galeria h1 {
    background: #ff5733;
    padding: 10px 20px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    border-radius: 5px;
}

.container table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.container th, .container td {
    border: 1px solid #333333;
    padding: 10px;
    text-align: left;
    background-color: #f5f5f5;
    color: #333333;
}

.container th {
    color: white;
    background-color: #ff5733;
}

ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

blockquote {
    font-style: italic;
    color: #444444;
    background-color: #e0e0e0; /* Alterado para cinza claro */
    border-left: 5px solid #ff5733;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px 25px;
    quotes: "“" "”" "‘" "’";
    border-radius: 5px;
}

blockquote:before {
    content: open-quote;
    font-size: 30px;
    color: #ff5733;
    margin-right: 10px;
}

blockquote:after {
    content: close-quote;
    font-size: 30px;
    color: #ff5733;
    margin-left: 10px;
}

blockquote p {
    display: inline;
}

.Links li {
    margin-top: 2%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5%;
    background-color: #f5f5f5;
    transition: background-color 0.3s;
}

.Links ul {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Sobre li {
    text-align: left;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #f5f5f5;
    color: #333333;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Sobre li:hover {
    background-color: #ff5733;
}

.Galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Lisboa, .Amsterdam {
    background-color: #f5f5f5;
    border: 2px solid #ff5733;
    color: #333333;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
}

.Lisboa {
    border-top-left-radius: 15px;
}

.Amsterdam {
    border-bottom-left-radius: 15px;
}

.Lisboa p, .Amsterdam p {
    text-align: left;
    font-size: 18px;
    font-family: "Bell MT";
    padding: 20px;
}

.Lisboa p{
    padding: 9% 8%;
}

.Amsterdam p{
    padding: 5% 8%;
}

.Lisboa img, .Amsterdam img {
    width: 50%;
    border-radius: 10px;
}

.Lisboa img:hover, .Amsterdam img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    text-align: center;
    padding: 40px 0px;
    background-color: #1e1e1e;
    color: #f5f5f5;
    width: 100%;
}
